# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- Introduction to Data Science
- Main languages in Data Science
- Key skills for a data scientist
- Big data and eemrging trends
- Career prospects for a data scientist

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

### Data Science Tools
|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author
James Muchiri